<div class="container mt-4">
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nombre Ayuda</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Inscripcion</th>
                    <th scope="col">Actualizar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Ayuda1</th>
                    <td>Descripcion de la Ayuda</td>
                    <td>Categoria de la Ayuda</td>
                    <td>Fecha de la Ayuda</td>
                    <td><button routerLink="/inscripcion" class="btn btn-primary" (click)="alerta()">Inscripcion</button></td>
                    <td><button class="btn btn-primary" (click)="alerta()">Actualizacion</button></td>
                  </tr>
                  
                </tbody>
              </table>

        </div>
    </div>
  </div>
