<p>inscripcion works!</p>
<div class="container mt-4">
    <div class="row">
        
<div class="col-7 border mt-4">
    <h1>Inscripción</h1>
    <div class="row">
        <div class="col-6 ">
            <div class="form-floating mb-1 mt-4">
                <input type="text" maxlength="50" class="form-control" id="usuario" placeholder="Crea Usuario" required>
                <label for="floatingInput">usuario</label>
            </div>

            <div class="form-floating mb-1 mt-4">
                <input type="password" maxlength="50" class="form-control" id="password" placeholder="Crea password" required>
                <label for="floatingInput">Password</label>
            </div>

            <div class="form-floating mb-1 mt-4">
                <input type="email" maxlength="100"class="form-control" id="email" placeholder="Email" required>
                <label for="floatingInput">Email</label>
            </div>
        </div>




        <div class="col-6">
            <div class="form-floating mb-1 mt-4">
                <input type="text" maxlength="50" class="form-control" id="nombre" placeholder="Primer Nombre" required>
                <label for="floatingInput">Primer Nombre</label>
            </div>

            <div class="form-floating mb-1 mt-4">
                <input type="text" maxlength="50" class="form-control" id="apellidoPaterno" placeholder="Apellido Paterno" required>
                <label for="floatingInput">Primer Nombre</label>
            </div>

            <div class="form-floating mb-1 mt-4">
                <input type="text" maxlength="50" class="form-control" id="apellidoMaterno" placeholder="Apellido Materno" required>
                <label for="floatingInput">Primer Nombre</label>
            </div>

            <div class="form-floating mb-1 mt-4">
                <input type="text" maxlength="50" class="form-control" id="telefono" placeholder="Número Telefónico">
                <label for="floatingInput">Número Telefónico</label>
            </div>
        </div>
    </div>
</div>
<div class="container text-center mt-4">
<button class="btn btn-primary mb-1 " (click)="alerta()" >Guardar</button>
</div>
</div>
</div>
